.img-background {
    width: 1440px;
    /*width: 100%;*/
    position: relative;
    top: -80px;
}

.login-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.login-style {
    position: relative;
    /*z-index: 2;*/
}





