.header {
    background: #33d3d9;
    padding: 0.5em 3em 0.5em 3em;
}

.navbrand-style {
    font-weight: 400;
    font-size: 1.8em;
    color: white !important;
    font-family: SansSerif, sans-serif;
}

.day-description {
    font-size: 14px;
}

.day-description span {
    font-weight: bold;
}

.day-card-body {
    padding-left: 10px;
}

.day-card {
    height: 100%;
}

.btn-logout {
    background: none;
    border: 1px solid white;
    font-size: 1.2em;
    color: white;
}

.btn-logout:hover {
    background: white;
    border: 1px solid white;
    color: #33d3d9;
}


